<a href="https://colab.research.google.com/github/sambhajizambre/Assignments/blob/main/python%20question%20no%201%20to%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1.write a program to print from 1 to 10.
i=1
while(i<=10):
 print(i)
 i=i+1

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(10,22,2):
  print(i)

10
12
14
16
18
20

In [12]:
for i in range(100,1000,100):
  print(i)

100
200
300
400
500
600
700
800
900

In [13]:
#2. write a program to print 1 to n
n=int(input("enter number upto which you want to print"))
i=1
while(i<=n):
  print(i)
  i=i+1

enter number upto which you want to print10
1
2
3
4
5
6
7
8
9
10

In [15]:
n=int(input("enter number upto which you want to print"))
for i in range(n):
  print(i)

enter number upto which you want to print5
0
1
2
3
4

In [1]:
#3. write a program to print 10 to 1.
i=10
while(i>=1):
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [5]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [10]:
#3.Weite a program to print n to 1
n=int(input("enter number"))
while(n>=1):
  print(n)
  n=n-1

enter number10
10
9
8
7
6
5
4
3
2
1

In [11]:
#4.write a program to find sum from 1 to n.
n=int(input("enter number upto which you want to sum"))
i=1
sum=0
while(i<=n):
  sum=sum+i
  i=i+1
print("sum=",sum)

enter number upto which you want to sum10
sum= 55